[user]
        name = donno2048
        email = just4now666666@gmail.com
[core]
        autocrlf = false
[sendemail]
        smtpPass = ****************
        smtpserver = smtp.gmail.com
        smtpuser = just4now666666@gmail.com
        smtpencryption = tls
        smtpserverport = 587
[diff]
        renames = true
